.block_grades_at_a_glance p {
    clear: both;
    font-size: 74%;
    height: 2.5em;
    margin: 0;
    padding: 0;
    text-align: right;
    vertical-align: middle;
}

.block_grades_at_a_glance span.gaag_course {
    float: left;
    margin-top: .25em;
    text-align: left;
}

.block_grades_at_a_glance span.gaag_grade {
    float: right;
    font-weight: bold;
    margin-top: .25em;
    padding-left: .50em;
}
